/* decarling global CSS variables */
/* adding attribute in html */
:root {
  --grid-cols: 5;
  --grid-rows: 5;
  --red: 255;
  --green: 255;
  --blue: 255;
}

#container {
  display: grid;
  grid-template-columns: repeat(var(--grid-rows), 1fr);
  grid-template-rows: repeat(var(--grid-cols), 1fr);
  margin: 50px auto;
  width: 500px;
  height: 500px;
}

.item {
  background-color: rgba(var(--red), var(--green), var(--blue), 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
}

#reset {
  margin: 0 auto 10px;
  display: block;
}
